---
- name: Install restish binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  vars:
    binary:
      name: "restish"
      path: "{{ lima_kilo_restish_binary_path }}"
      url: "{{ restish.url }}"
      download_checksum: "{{ restish.download_checksum }}"
      binary_checksum: "{{ restish.binary_checksum }}"
      unpack: "{{ restish.unpack }}"

- name: Create restish config dir for tool accounts
  become: true
  ansible.builtin.file:
    path: "/data/project/{{ tool_account.name }}/{{ restish.config_dir }}"
    state: directory
    mode: "0777"
    owner: "{{ toolforge.project_name }}.{{ tool_account.name }}"
    group: "{{ toolforge.project_name }}.{{ tool_account.name }}"
  loop: "{{ toolforge.tool_accounts }}"
  loop_control:
    loop_var: tool_account

- name: Create restish apis.json for tool accounts
  become: true
  ansible.builtin.template:
    src: apis.json.j2
    dest: "/data/project/{{ tool_account.name }}/{{ restish.config_dir }}/apis.json"
    mode: "0644"
    owner: "{{ toolforge.project_name }}.{{ tool_account.name }}"
    group: "{{ toolforge.project_name }}.{{ tool_account.name }}"
  loop: "{{ toolforge.tool_accounts }}"
  loop_control:
    loop_var: tool_account

- name: Create restish config.json for tool accounts
  become: true
  ansible.builtin.template:
    src: config.json.j2
    dest: "/data/project/{{ tool_account.name }}/{{ restish.config_dir }}/config.json"
    mode: "0644"
    owner: "{{ toolforge.project_name }}.{{ tool_account.name }}"
    group: "{{ toolforge.project_name }}.{{ tool_account.name }}"
  loop: "{{ toolforge.tool_accounts }}"
  loop_control:
    loop_var: tool_account

- name: Create autocomplete file for tool accounts
  become: true
  ansible.builtin.shell:
    cmd: "restish completion bash > /etc/bash_completion.d/restish"
    creates: /etc/bash_completion.d/restish
