---
- name: Create /etc/sssd/ directory
  become: true
  ansible.builtin.file:
    path: "/etc/sssd/"
    state: "directory"
    mode: "0755"

- name: Install sssd.conf file
  become: true
  # order matters, this file should be installed before sssd can start,
  # so before package installation
  ansible.builtin.copy:
    src: "sssd.conf"
    dest: "/etc/sssd/sssd.conf"
    # mode is enforced by sssd, it will refuse to start otherwise
    mode: "0600"

- name: Install nsswitch.conf to use sssd
  become: true
  ansible.builtin.copy:
    src: "nsswitch.conf"
    dest: "/etc/nsswitch.conf"
    mode: "0644"

- name: Install base packages
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: latest # noqa package-latest
  loop: "{{ lima_kilo_basic_system_packages }}"
  loop_control:
    label: "{{ item }}"

# Sometimes when running a couple builds at the same time we get out of inode watchers
# similar to https://phabricator.wikimedia.org/T361519
- name: Increase inotify user instances
  become: true
  ansible.posix.sysctl:
    name: fs.inotify.max_user_instances
    value: "1024"
    state: present

- name: Create nodes containerd mount directories on cache disk
  become: true
  ansible.builtin.command: mkdir -p {{ cache_disk_mount }}/{{ item.name }}
  args:
    creates: "{{ cache_disk_mount }}/{{ item.name }}"
  loop: "{{ nodes + [{'name': 'local'}] }}"
  when: use_cache == "true"

- name: Mount local containerd directory to cache disk
  become: true
  ansible.posix.mount:
    path: "{{ cache_disk_mount }}/local"
    src: "/var/lib/docker/overlay2"
    fstype: none
    opts: bind
    state: mounted
  when: use_cache == "true"

- name: Add VM name to /etc/hosts
  become: true
  ansible.builtin.lineinfile: # noqa args[module]
    path: /etc/hosts
    line: "{{ item }}"
    state: "present"
  with_items:
    - "127.0.0.1 {{ ansible_hostname }}"
