- name: Install base packages
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: latest # noqa package-latest
  loop: "{{ lima_kilo_basic_system_packages }}"
  loop_control:
    label: "{{ item }}"
