---
lima_kilo_toolforge_deploy_repo:
  url: https://gitlab.wikimedia.org/repos/cloud/toolforge/toolforge-deploy
  branch: main

lima_kilo_toolforge_deploy_components:
  - name: image-config
  - name: cert-manager
    wait: true
  - name: volume-admission
  - name: jobs-api
  - name: envvars-api
  - name: envvars-admission
  - name: builds-builder
  - name: builds-api # deploying this depends on builds-builder
  - name: api-gateway
  - name: kyverno
  - name: maintain-kubeusers
  - name: wmcs-k8s-metrics

lima_kilo_k8s_other_custom_components:
  - name: foxtrot-ldap
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/foxtrot-ldap
    build: docker build --tag foxtrot-ldap:latest .
    deploy: ./deploy.sh
