---
- name: Verify if kind is installed
  ansible.builtin.stat:
    path: "{{ lima_kilo_kind_binary_path }}"
  register: filecheck

- name: Verify kind version
  ansible.builtin.shell: kind --version
  when: filecheck.stat.executable is defined and filecheck.stat.executable
  register: kindversion
  changed_when: false

- name: Download and install kind
  become: true
  ansible.builtin.get_url:
    url: "{{ kind.url }}"
    dest: "{{ lima_kilo_kind_binary_path }}"
    mode: "0755"
    checksum: "{{ kind.checksum }}"
  when: |
    (
      filecheck.stat.executable is not defined
      or not filecheck.stat.executable
      or kind.version not in kindversion.stdout
    )
    and lima_kilo_manage_kind_installation

- name: Install kind configuration file
  ansible.builtin.template:
    src: kind.yaml.j2
    dest: "{{ kind.config }}"
    mode: "0644"

- name: Verify if kind cluster exists
  ansible.builtin.shell: kind get clusters
  register: kind_get_clusters
  changed_when: false

- name: Bootstrap kind cluster
  ansible.builtin.shell:
    cmd: >
      kind create cluster -n "{{ kind.cluster.name }}" --config "{{ kind.config }}" --image "{{ kind.cluster.image.name }}"@"{{ kind.cluster.image.checksum }}"
  when: kind.cluster.name not in kind_get_clusters.stdout
