---
- name: Install kind binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  when: lima_kilo_manage_kind_installation
  vars:
    binary:
      name: "kind"
      version: "{{ kind.version }}"
      version_command: "{{ kind.version_command }}"
      path: "{{ lima_kilo_kind_binary_path }}"
      url: "{{ kind.platform[ansible_system].url }}"
      checksum: "{{ kind.platform[ansible_system].checksum }}"

- name: Install kind configuration file
  ansible.builtin.template:
    src: kind.yaml.j2
    dest: "{{ kind.config }}"
    mode: "0644"

- name: Verify if kind cluster exists
  ansible.builtin.shell: kind get clusters
  register: kind_get_clusters
  changed_when: false

- name: Bootstrap kind cluster
  ansible.builtin.shell:
    cmd: >
      kind create cluster -n "{{ kind.cluster.name }}" --config "{{ kind.config }}" --image "{{ kind.cluster.image.name }}"@"{{ kind.cluster.image.checksum }}"
  when: kind.cluster.name not in kind_get_clusters.stdout
  # if we execute this task, consider it always changed
  changed_when: true
