---
- name: Target action -> install kind
  ansible.builtin.include_tasks: install.yaml
  when: target == 'install'

- name: Target action -> uninstall kind
  ansible.builtin.include_tasks: uninstall.yaml
  when: target == 'uninstall'
