---
- name: target action -> install kind
  include_tasks: install.yaml
  when: target == 'install'

- name: target action -> uninstall kind
  include_tasks: uninstall.yaml
  when: target == 'uninstall'
