---
- name: Install kind binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  vars:
    binary:
      name: "kind"
      path: "{{ lima_kilo_kind_binary_path }}"
      url: "{{ kind.url }}"
      checksum: "{{ kind.checksum }}"
      unpack: "{{ kind.unpack }}"

- name: Ensure containerd hosts config directory exists
  become: true
  ansible.builtin.file:
    path: "{{ kind.files.containerd_hosts_config.path | dirname }}"
    state: directory
    mode: "0777"

- name: Create kind configuration files
  ansible.builtin.template:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.path }}"
    mode: "0644"
  with_dict: "{{ kind.files }}"

- name: Verify if kind cluster exists
  ansible.builtin.shell: "{{ lima_kilo_kind_binary_path }} get clusters"
  register: kind_get_clusters
  changed_when: false

- name: Bootstrap kind cluster
  ansible.builtin.shell:
    cmd: |
      "{{ lima_kilo_kind_binary_path }}" create cluster \
      --name "{{ kind.cluster.name }}" \
      --config "{{ kind.files.config.path }}"
  when: kind.cluster.name not in kind_get_clusters.stdout
  # if we execute this task, consider it always changed
  changed_when: true

- name: Manage /etc/hosts shortcut for {{ kind.cluster.name }}
  become: true
  ansible.builtin.lineinfile: # noqa args[module]
    path: /etc/hosts
    line: "{{ item }}"
    state: "present"
  with_items:
    - "127.0.0.1 {{ kind.api.hostname }}"
    - "127.0.0.1 {{ kind.api.ha_hostname }}"

- name: Add the checker script
  become: true
  ansible.builtin.copy:
    src: "restart_containerd_if_node_stuck.sh"
    dest: "/usr/local/bin/restart_containerd_if_node_stuck.sh"
    mode: "0755"
    owner: "root"
    group: "root"

- name: Add the service file to restart containerd when stuck
  become: true
  ansible.builtin.template:
    src: restart_containerd.service.j2
    dest: /etc/systemd/system/restart_containerd.service
    mode: "0755"
    owner: "{{ ansible_facts['user_uid'] }}"
    group: "{{ ansible_facts['user_gid'] }}"

- name: Create service to restart containerd when stuck
  become: true
  ansible.builtin.systemd_service:
    name: restart_containerd.service
    daemon_reload: true
    enabled: true
    state: started
