---
- name: Verify if kind is installed
  ansible.builtin.stat:
    path: "{{ lima_kilo_kind_binary_path }}"
  register: filecheck

- name: Verify if kind cluster exists
  ansible.builtin.shell: "{{ lima_kilo_kind_binary_path }} get clusters"
  when: filecheck.stat.executable is defined and filecheck.stat.executable
  register: kind_get_clusters
  changed_when: false

- name: Delete kind cluster
  ansible.builtin.shell:
    cmd: "{{ lima_kilo_kind_binary_path }} delete clusters {{ kind.cluster.name }}"
  when: |
    filecheck.stat.executable is defined
    and filecheck.stat.executable
    and kind.cluster.name in kind_get_clusters.stdout
  # if we execute this task, consider it always changed
  changed_when: true

- name: Delete kind itself
  ansible.builtin.file:
    dest: "{{ lima_kilo_kind_binary_path }}"
    state: absent
  when: lima_kilo_manage_kind_installation
