---
- name: Verify if kind is installed
  ansible.builtin.stat:
    path: /usr/local/bin/kind
  register: filecheck

- name: Verify if kind cluster exists
  ansible.builtin.shell: kind get clusters
  when: filecheck.stat.executable is defined and filecheck.stat.executable
  register: kind_get_clusters
  changed_when: false

- name: Delete kind cluster
  ansible.builtin.shell:
    cmd: kind delete clusters "{{ kind.cluster.name }}"
  when: filecheck.stat.executable is defined and filecheck.stat.executable and kind.cluster.name in kind_get_clusters.stdout

- name: Delete kind itself
  become: true
  ansible.builtin.file:
    dest: /usr/local/bin/kind
    state: absent
