---
- name: Install helm binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  when: lima_kilo_manage_helm_installation
  vars:
    binary:
      name: "helm"
      version: "{{ helm.version }}"
      version_command: "{{ helm.version_command }}"
      path: "{{ lima_kilo_helm_binary_path }}"
      url: "{{ helm.platform[ansible_system].url }}"
      checksum: "{{ helm.platform[ansible_system].checksum }}"
      unpack: "{{ helm.platform[ansible_system].unpack }}"

- name: Install helmfile binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  when: lima_kilo_manage_helmfile_installation
  vars:
    binary:
      name: "helmfile"
      version: "{{ helmfile.version }}"
      version_command: "{{ helmfile.version_command }}"
      path: "{{ lima_kilo_helmfile_binary_path }}"
      url: "{{ helmfile.platform[ansible_system].url }}"
      checksum: "{{ helmfile.platform[ansible_system].checksum }}"
      unpack: "{{ helmfile.platform[ansible_system].unpack }}"

# this install all helm plugin dependencies
- name: Run helmfile init
  ansible.builtin.command: helmfile init --force
  register: init
  changed_when: "'Installed plugin' in init.stderr"
