---
- name: Install helm binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  vars:
    binary:
      name: "helm"
      path: "{{ lima_kilo_helm_binary_path }}"
      url: "{{ helm.url }}"
      download_checksum: "{{ helm.download_checksum }}"
      binary_checksum: "{{ helm.binary_checksum }}"
      unpack: "{{ helm.unpack }}"

- name: Install helmfile binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  vars:
    binary:
      name: "helmfile"
      path: "{{ lima_kilo_helmfile_binary_path }}"
      url: "{{ helmfile.url }}"
      download_checksum: "{{ helmfile.download_checksum }}"
      binary_checksum: "{{ helmfile.binary_checksum }}"
      unpack: "{{ helmfile.unpack }}"

# this install all helm plugin dependencies
- name: Run helmfile init
  ansible.builtin.command: "{{ lima_kilo_helmfile_binary_path }} init --force"
  register: init
  changed_when: "'Installed plugin' in init.stderr"
