---
k8s_custom_components:
  - name: image-config
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/toolforge-deploy
    branch: add_image_config
    docker_build: false
    deploy: ./deploy.sh image-config local
  - name: cert-manager
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/toolforge-deploy
    branch: add_cert_manager
    docker_build: false
    deploy: ./deploy.sh cert-manager local
  - name: volume-admission
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/toolforge-deploy
    branch: add_volume_admision
    docker_build: false
    deploy: ./deploy.sh volume-admission local
  - name: api-gateway
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/toolforge-deploy
    docker_build: false
    deploy: ./deploy.sh api-gateway local
  - name: jobs-api
    git_url: https://gerrit.wikimedia.org/r/cloud/toolforge/jobs-framework-api
    docker_build: true
    deploy: ./deploy.sh local
  - name: foxtrot-ldap
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/foxtrot-ldap
    docker_build: true
    deploy: ./deploy.sh
