---
k8s_custom_components:
  - name: image-config
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/image-config
    docker_build: false
    deploy: ./deploy.sh
  - name: cert-manager
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/cert-manager
    docker_build: false
    deploy: ./deploy.sh
  - name: volume-admission
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/volume-admission-controller
    docker_build: true
    deploy: ./deploy.sh local
  - name: api-gateway
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/api-gateway
    docker_build: false
    deploy: ./deploy.sh local
  - name: jobs-api
    git_url: https://gerrit.wikimedia.org/r/cloud/toolforge/jobs-framework-api
    docker_build: true
    deploy: ./deploy.sh local
  - name: foxtrot-ldap
    git_url: https://gitlab.wikimedia.org/repos/cloud/toolforge/foxtrot-ldap
    docker_build: true
    deploy: ./deploy.sh
