---
kind:
  # refresh versions from https://github.com/kubernetes-sigs/kind/releases
  url: https://kind.sigs.k8s.io/dl/v0.29.0/kind-linux-amd64
  checksum: sha256:c72eda46430f065fb45c5f70e7c957cc9209402ef309294821978677c8fb3284

  unpack: false
  extra_forward_ports:
    - 30001 # jobs-api
    - 30002 # ingress-nginx
    - 30003 # api-gateway
    - 30004 # infra-tracing-loki
  cluster:
    name: toolforge
    images:
      1_30:
        name: kindest/node:v1.30.13
        checksum: sha256:397209b3d947d154f6641f2d0ce8d473732bd91c87d9575ade99049aa33cd648
      # add more if you plan to run multiple versions
      # ...
  api:
    port: 6443
    # toolforge- prefix is because cluster name is toolforge.
    hostname: toolforge-control-plane
    # this is the default for multi control-node kind clusters.
    ha_hostname: toolforge-external-load-balancer

  files:
    config:
      path: "{{ lima_kilo_local_path }}/kind.yaml"
      src: kind.yaml.j2
    containerd_hosts_config:
      path: /etc/containerd/certs.d/_default/hosts.toml
      src: hosts.toml.j2

nodes:
  - name: toolforge-control-plane
    role: control-plane
    image: "{{ kind.cluster.images.1_30.name }}@{{ kind.cluster.images.1_30.checksum }}"
    active: "true" # default
  - name: toolforge-control-plane2
    role: control-plane
    image: "{{ kind.cluster.images.1_30.name }}@{{ kind.cluster.images.1_30.checksum }}"
    active: "{{ kind_high_availability }}"
  - name: toolforge-control-plane3
    role: control-plane
    image: "{{ kind.cluster.images.1_30.name }}@{{ kind.cluster.images.1_30.checksum }}"
    active: "{{ kind_high_availability }}"
  - name: toolforge-worker
    role: worker
    image: "{{ kind.cluster.images.1_30.name }}@{{ kind.cluster.images.1_30.checksum }}"
    active: "{{ kind_high_availability }}"

kind_high_availability: "false"
tool_account_kubeconfig_server_url: "https://{{ kind.api.hostname }}:{{ kind.api.port }}"
