---
kind:
  # refresh versions from https://github.com/kubernetes-sigs/kind/releases
  url: https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64
  checksum: sha256:eb244cbafcc157dff60cf68693c14c9a75c4e6e6fedaf9cd71c58117cb93e3fa

  unpack: false
  extra_forward_ports:
    - 30001 # jobs-api
    - 30002 # ingress-nginx
    - 30003 # api-gateway
    - 30004 # infra-tracing-loki
  cluster:
    name: toolforge
    images:
      1_31:
        name: kindest/node:v1.31.14
        checksum: sha256:6f86cf509dbb42767b6e79debc3f2c32e4ee01386f0489b3b2be24b0a55aac2b
      # add more if you plan to run multiple versions
      # ...
  api:
    port: 6443
    # toolforge- prefix is because cluster name is toolforge.
    hostname: toolforge-control-plane
    # this is the default for multi control-node kind clusters.
    ha_hostname: toolforge-external-load-balancer

  files:
    config:
      path: "{{ ansible_env.HOME }}/kind.yaml"
      src: kind.yaml.j2
    containerd_hosts_config:
      path: /etc/containerd/certs.d/_default/hosts.toml
      src: hosts.toml.j2

nodes:
  - name: toolforge-control-plane
    role: control-plane
    image: "{{ kind.cluster.images.1_31.name }}@{{ kind.cluster.images.1_31.checksum }}"
    active: "true" # default
  - name: toolforge-control-plane2
    role: control-plane
    image: "{{ kind.cluster.images.1_31.name }}@{{ kind.cluster.images.1_31.checksum }}"
    active: "{{ kind_high_availability }}"
  - name: toolforge-control-plane3
    role: control-plane
    image: "{{ kind.cluster.images.1_31.name }}@{{ kind.cluster.images.1_31.checksum }}"
    active: "{{ kind_high_availability }}"
  - name: toolforge-worker
    role: worker
    image: "{{ kind.cluster.images.1_31.name }}@{{ kind.cluster.images.1_31.checksum }}"
    active: "{{ kind_high_availability }}"

kind_high_availability: "false"
tool_account_kubeconfig_server_url: "https://{{ kind.api.hostname }}:{{ kind.api.port }}"
