---
kind:
  # refresh versions from https://github.com/kubernetes-sigs/kind/releases
  url: https://kind.sigs.k8s.io/dl/v0.24.0/kind-linux-amd64
  checksum: sha256:b89aada5a39d620da3fcd16435b7f28d858927dd53f92cbac77686b0588b600d

  unpack: false
  extra_forward_ports:
    - 30001 # jobs-api
    - 30002 # ingress-nginx
    - 30003 # api-gateway
  cluster:
    name: toolforge
    images:
      1_27:
        name: kindest/node:v1.27.16
        checksum: sha256:3fd82731af34efe19cd54ea5c25e882985bafa2c9baefe14f8deab1737d9fabe
      1_28:
        name: kindest/node:v1.28.13
        checksum: sha256:45d319897776e11167e4698f6b14938eb4d52eb381d9e3d7a9086c16c69a8110
      # add more if you plan to run multiple versions
      # ...
  api:
    port: 6443
    # toolforge- prefix is because cluster name is toolforge.
    hostname: toolforge-control-plane
    # this is the default for multi control-node kind clusters.
    ha_hostname: toolforge-external-load-balancer

  files:
    config:
      path: "{{ lima_kilo_local_path }}/kind.yaml"
      src: kind.yaml.j2
    containerd_hosts_config:
      path: /etc/containerd/certs.d/_default/hosts.toml
      src: hosts.toml.j2

nodes:
  - name: toolforge-control-plane
    role: control-plane
    image: "{{ kind.cluster.images.1_28.name }}@{{ kind.cluster.images.1_28.checksum }}"
    active: "true" # default
  - name: toolforge-control-plane2
    role: control-plane
    image: "{{ kind.cluster.images.1_28.name }}@{{ kind.cluster.images.1_28.checksum }}"
    active: "{{ kind_high_availability }}"
  - name: toolforge-control-plane3
    role: control-plane
    image: "{{ kind.cluster.images.1_28.name }}@{{ kind.cluster.images.1_28.checksum }}"
    active: "{{ kind_high_availability }}"
  - name: toolforge-worker
    role: worker
    image: "{{ kind.cluster.images.1_28.name }}@{{ kind.cluster.images.1_28.checksum }}"
    active: "{{ kind_high_availability }}"

kind_high_availability: "false"
tool_account_kubeconfig_server_url: https://{{ kind.api.hostname }}:{{ kind.api.port }}
