---
kind:
  config: "{{ lima_kilo_local_path }}/kind.yaml"
  # refresh versions from https://github.com/kubernetes-sigs/kind/releases
  url: https://kind.sigs.k8s.io/dl/v0.22.0/kind-linux-amd64
  checksum: sha256:e4264d7ee07ca642fe52818d7c0ed188b193c214889dd055c929dbcb968d1f62
  unpack: false
  extra_forward_ports:
    - 30001 # jobs-api
    - 30002 # ingress-nginx
    - 30003 # api-gateway
  cluster:
    name: toolforge
    image:
      name: kindest/node:v1.24.17
      checksum: sha256:bad10f9b98d54586cba05a7eaa1b61c6b90bfc4ee174fdc43a7b75ca75c95e51
  api:
    port: 6443
    hostname: toolforge-control-plane

tool_account_kubeconfig_server_url: https://{{ kind.api.hostname }}:{{ kind.api.port }}
