---
kind:
  config: "{{ ansible_env.HOME }}/.kind.yaml"
  # refresh versions from https://github.com/kubernetes-sigs/kind/releases
  version: 0.17.0
  url: https://kind.sigs.k8s.io/dl/v0.17.0/kind-linux-amd64
  checksum: sha256:a8c045856db33f839908b6acb90dc8ec397253ffdaef7baf058f5a542e009b9c
  ingress:
    port: 30001
  cluster:
    name: toolforge
    image:
      name: kindest/node:v1.21.14
      checksum: sha256:9d9eb5fb26b4fbc0c6d95fa8c790414f9750dd583f5d7cee45d92e8c26670aa1
