---
kind:
  config: "{{ lima_kilo_local_path }}/.kind.yaml"
  # refresh versions from https://github.com/kubernetes-sigs/kind/releases
  version: 0.17.0
  version_command: kind --version
  platform:
    Linux:
      url: https://kind.sigs.k8s.io/dl/v0.17.0/kind-linux-amd64
      checksum: sha256:a8c045856db33f839908b6acb90dc8ec397253ffdaef7baf058f5a542e009b9c
  extra_forward_ports:
    - 30001  # jobs-api
    - 30002  # ingress-nginx
    - 30003  # api-gateway
  cluster:
    name: toolforge
    image:
      name: kindest/node:v1.22.15
      checksum: sha256:41e599fbbc038175c570c9aec9f9f59311d77be1b54f7f4de1a41d974dcd4cea
  api:
    port: 6443
    hostname: toolforge-control-plane

tool_account_kubeconfig_server_url: https://{{ kind.api.hostname }}:{{ kind.api.port }}
