---
kind:
  config: "{{ lima_kilo_local_path }}/kind.yaml"
  # refresh versions from https://github.com/kubernetes-sigs/kind/releases
  url: https://kind.sigs.k8s.io/dl/v0.23.0/kind-linux-amd64
  checksum: sha256:1d86e3069ffbe3da9f1a918618aecbc778e00c75f838882d0dfa2d363bc4a68c

  unpack: false
  extra_forward_ports:
    - 30001 # jobs-api
    - 30002 # ingress-nginx
    - 30003 # api-gateway
  cluster:
    name: toolforge
    image:
      name: kindest/node:v1.26.15
      checksum: sha256:84333e26cae1d70361bb7339efb568df1871419f2019c80f9a12b7e2d485fe19
  api:
    port: 6443
    hostname: toolforge-control-plane

tool_account_kubeconfig_server_url: https://{{ kind.api.hostname }}:{{ kind.api.port }}
