---
toolforge:
  project_name: local
  special_directories:
    - /data/
    - /public/
  directories:
    - /var/lib/sss/pipes/
    - /data/project/
    - /data/scratch/
    - /mnt/nfs/dumps-clouddumps1001.wikimedia.org/
    - /mnt/nfs/dumps-clouddumps1002.wikimedia.org/
    - /public/dumps/
  files:
    - path: /etc/wmcs-project
      content: |
        local
    - path: /etc/ldap.yaml
      content: |
        ---
        # data from foxtrot-ldap. The server DNS name is the foxtrot-ldap k8s service name
        basedn: dc=wikimedia,dc=org
        user: cn=proxyagent,dc=wikimedia,dc=org
        password: readonly
        servers:
          - ldap://foxtrot-ldap.foxtrot-ldap:389
    - path: /etc/ldap.conf
      content: |
        # whatever
    - path: /etc/novaobserver.yaml
      content: |
        # whatever
  tool_accounts:
    - name: tf-test
      uid: 50001
      files:
        - name: sleep40.sh
          mode: "0755"
          content: |
            #!/bin/sh
            echo "Waiting 40"
            sleep 40
        - name: public_html/index.php
          mode: "0755"
          content: "Hello from PHP!  <?php phpinfo(); ?>"
        - name: test-cmd.sh
          mode: "0755"
          content: |
            #!/bin/sh
            echo stdout $1
            echo stderr >&2
            sleep 60
        - name: contjob.sh
          mode: "0755"
          content: |
            #!/bin/sh
            while true ; do date ; echo "another loop!" ; sleep 30 ; done
        - name: jobs.yaml
          mode: "0755"
          content: |
            - name: contjob
              image: bookworm
              command: ./contjob.sh
              continuous: true
              no-filelog: true
    - name: tf-test2
      uid: 50002
    - name: fourohfour
      uid: 50003
  repos:
    - name: tools
      url: https://deb-tools.wmcloud.org/repo
      dist: bullseye-tools
  packages:
    - toolforge-cli
    - toolforge-builds-cli
    - toolforge-jobs-framework-cli
    - toolforge-envvars-cli
    - toolforge-webservice
