---
- name: Debian package dependencies via apt ({{ target }} target)
  become: true
  ansible.builtin.apt:  # noqa args[module]
    name: "{{ item }}"
    state: "{{ 'latest' if target == 'install' else 'absent' }}"
  loop:
    # this allows using the kubernetes.core.k8s ansible module
    - python3-kubernetes
  # skip this task if target == uninstall and lima_kilo_apt_uninstall == false
  # i.e, don't really uninstall packages
  when: not ( target == 'uninstall' and not lima_kilo_apt_uninstall )
