---
- name: create directories for tool account '{{ tool_account }}'
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
  loop:
    - /data/project/{{ tool_account }}/
    - /data/project/{{ tool_account }}/.kube
    - /data/project/{{ tool_account }}/.toolskube

- name: verify if kubeconfig exists for tool account '{{ tool_account }}'
  become: true
  ansible.builtin.stat:
    path: /data/project/{{ tool_account}}/.kube/config
  register: kubeconfig_filecheck

- name: verify if x509 cert exists for tool account '{{ tool_account }}'
  become: true
  ansible.builtin.stat:
    path: /data/project/{{ tool_account}}/.toolskube/client.crt
  register: crt_filecheck

- name: verify if x509 key exists for tool account '{{ tool_account }}'
  become: true
  ansible.builtin.stat:
    path: /data/project/{{ tool_account}}/.toolskube/client.key
  register: key_filecheck

- name: run k8s-get-cert.sh script for tool account '{{ tool_account }}'
  ansible.builtin.command:
    cmd: "{{ role_path }}/files/k8s-get-cert.sh {{ tool_account }}"
  when: >
    crt_filecheck.stat is not defined or not crt_filecheck.stat.exists or
    key_filecheck.stat is not defined or not key_filecheck.stat.exists or
    kubeconfig_filecheck.stat is not defined or not kubeconfig_filecheck.stat.exists
  # output first line: cert file
  # output second line: key file
  register: k8s_get_cert

- name: relocate cert file for tool account '{{ tool_account }}'
  become: true
  ansible.builtin.copy:
    src: "{{ k8s_get_cert.stdout_lines[0] }}"
    dest: /data/project/{{ tool_account }}/.toolskube/client.crt
    mode: "0644"
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
  when: k8s_get_cert is defined and k8s_get_cert.changed

- name: relocate key file for tool account '{{ tool_account }}'
  become: true
  ansible.builtin.copy:
    src: "{{ k8s_get_cert.stdout_lines[1] }}"
    dest: /data/project/{{ tool_account }}/.toolskube/client.key
    mode: "0644"
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
  when: k8s_get_cert is defined and k8s_get_cert.changed

- name: cleanup temp cert files for tool account '{{ tool_account }}'
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop: "{{ k8s_get_cert.stdout_lines }}"
  when: k8s_get_cert is defined and k8s_get_cert.changed

- name: generate kubeconfig for tool account '{{ tool_account }}'
  become: true
  ansible.builtin.template:
    src: tool_account_kubeconfig.yaml.j2
    dest: /data/project/{{ tool_account }}/.kube/config
    mode: "0644"
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
  vars:
    cert_file: /data/project/{{ tool_account }}/.toolskube/client.crt
    key_file: /data/project/{{ tool_account }}/.toolskube/client.key
