---
- name: python3-kubernetes package
  become: true
  # this allows using the kubernetes.core.k8s ansible module
  ansible.builtin.apt:
    name: python3-kubernetes
    state: "{{ 'latest' if target == 'install' else 'absent' }}"

- name: target action -> install k8s things
  include_tasks: install.yaml
  when: target == 'install'
