---
- name: Git checkout toolforge-deploy
  ansible.builtin.git:
    repo: "{{ lima_kilo_toolforge_deploy_repo }}"
    dest: ~/toolforge-deploy
    version: "{{ lima_kilo_toolforge_deploy_branch }}"
    force: true
    update: true
  register: git_result

- name: Deploy toolforge-deploy components into local k8s
  ansible.builtin.shell: # noqa no-changed-when
    chdir: "~/toolforge-deploy"
    cmd: >-
      HARBOR_IP={{ lima_kilo_harbor_ip_for_within_k8s }}
      ./deploy.sh
      {{ item.name }}
      {% if item.wait | default(false) %}--wait --set helmDefaults.timeout=600{% endif %}
  loop: "{{ lima_kilo_toolforge_deploy_components }}"
  loop_control:
    label: "{{ item }}"
