---
- name: Git clone toolforge-deploy repository
  ansible.builtin.shell:
    cmd: >-
      git clone --quiet {{ lima_kilo_toolforge_deploy_repo.url }} ~/toolforge-deploy
      && git -C ~/toolforge-deploy reset --hard '{{ lima_kilo_toolforge_deploy_repo.ref }}'
    creates: "~/toolforge-deploy/.git"

- name: Deploy toolforge-deploy components into local k8s
  ansible.builtin.shell: # noqa no-changed-when
    chdir: "~/toolforge-deploy"
    cmd: >-
      HARBOR_IP={{ lima_kilo_harbor_ip_for_within_k8s }}
      ./deploy.sh
      {{ item.name }}
      {% if item.wait | default(false) %}--wait --set helmDefaults.timeout=600{% endif %}
  loop: "{{ lima_kilo_toolforge_deploy_components }}"
  loop_control:
    label: "{{ item }}"
