---
# secret for tekton to know how to reach harbor
apiVersion: v1
kind: Secret
metadata:
    name: basic-user-pass
    namespace: image-build
    annotations:
        # This is the IP that Tekton will use to reach Harbor
        tekton.dev/docker-0: "http://{{ lima_kilo_harbor_addr_for_within_k8s }}"
stringData:
    username: "{{ lima_kilo_harbor_robot_account_username }}"
    password: "{{ lima_kilo_harbor_robot_account_password }}"

