---
apiVersion: v1
kind: Config
current-context: kind-{{ kind.cluster.name }}
preferences: {}
clusters:
- name: kind-{{ kind.cluster.name }}
  cluster:
    certificate-authority-data: {{ kubernetes_ca }}
    server: https://{{ kind.cluster.name }}-control-plane:6443
contexts:
- name: kind-{{ kind.cluster.name }}
  context:
    cluster: kind-{{ kind.cluster.name }}
    user: tf-{{ tool_account }}
    namespace: tool-{{ tool_account }}
users:
- name: tf-{{ tool_account }}
  user:
    client-certificate: {{ cert_file }}
    client-key: {{ key_file }}
