---
apiVersion: v1
kind: Namespace
metadata:
  name: tool-{{ tool_account.name }}
---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  annotations:
    seccomp.security.alpha.kubernetes.io/allowedProfileNames: runtime/default
    seccomp.security.alpha.kubernetes.io/defaultProfileName: runtime/default
  name: tool-{{ tool_account.name }}-psp
spec:
  allowPrivilegeEscalation: false
  allowedHostPaths:
  - pathPrefix: /var/lib/sss/pipes
  - pathPrefix: /data/project
  - pathPrefix: /data/scratch
  - pathPrefix: /public/dumps
    readOnly: true
  - pathPrefix: /mnt/nfs
    readOnly: true
  - pathPrefix: /etc/wmcs-project
    readOnly: true
  - pathPrefix: /etc/ldap.yaml
    readOnly: true
  - pathPrefix: /etc/novaobserver.yaml
    readOnly: true
  - pathPrefix: /etc/ldap.conf
    readOnly: true
  fsGroup:
    ranges:
    - max: {{ tool_account_gid }}
      min: {{ tool_account_gid }}
    rule: MustRunAs
  runAsGroup:
    ranges:
    - max: {{ tool_account_gid }}
      min: {{ tool_account_gid }}
    rule: MustRunAs
  runAsUser:
    ranges:
    - max: {{ tool_account_uid }}
      min: {{ tool_account_uid }}
    rule: MustRunAs
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    ranges:
    - max: 65535
      min: 1
    rule: MustRunAs
  volumes:
  - configMap
  - downwardAPI
  - emptyDir
  - projected
  - secret
  - hostPath
  - persistentVolumeClaim
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: tool-{{ tool_account.name }}-psp
  namespace: tool-{{ tool_account.name }}
rules:
- apiGroups:
  - extensions
  resourceNames:
  - tool-{{ tool_account.name }}-psp
  resources:
  - podsecuritypolicies
  verbs:
  - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: default-{{ tool_account.name }}-psp-binding
  namespace: tool-{{ tool_account.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: tool-{{ tool_account.name }}-psp
subjects:
- kind: ServiceAccount
  name: default
  namespace: tool-{{ tool_account.name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ tool_account.name }}-tool-binding
  namespace: tool-{{ tool_account.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: tools-user
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ tool_account.name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: tool-{{ tool_account.name }}-psp-binding
  namespace: tool-{{ tool_account.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: tool-{{ tool_account.name }}-psp
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ tool_account.name }}
---
apiVersion: v1
kind: LimitRange
metadata:
  name: tool-{{ tool_account.name }}
  namespace: tool-{{ tool_account.name }}
spec:
  limits:
    - type: Container
      default:
        cpu: 500m
        memory: 512Mi
      defaultRequest:
        cpu: 150m
        memory: 256Mi
      max:
        cpu: 1
        memory: 4Gi
      min:
        cpu: 50m
        memory: 100Mi
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: tool-{{ tool_account.name }}
  namespace: tool-{{ tool_account.name }}
spec:
  hard:
    configmaps: "10"
    count/cronjobs.batch: "50"
    count/deployments.apps: "3"
    count/jobs.batch: "15"
    limits.cpu: "2"
    limits.memory: 8Gi
    persistentvolumeclaims: "3"
    pods: "10"
    replicationcontrollers: "1"
    requests.cpu: "2"
    requests.memory: 6Gi
    secrets: "10"
    services: "1"
    services.nodeports: "0"
