---
apiVersion: v1
kind: Config
current-context: toolforge
preferences: {}
clusters:
- name: toolforge
  cluster:
    certificate-authority-data: {{ kubernetes_ca }}
    server: {{ tool_account_kubeconfig_server_url }}
contexts:
- name: toolforge
  context:
    cluster: toolforge
    user: tf-{{ tool_account }}
    namespace: tool-{{ tool_account }}
users:
- name: tf-{{ tool_account }}
  user:
    client-certificate: {{ cert_file }}
    client-key: {{ key_file }}
