---
- name: Target action -> install kubectl
  ansible.builtin.include_tasks: install.yaml
  when: target == 'install'

- name: Target action -> uninstall kubectl
  ansible.builtin.include_tasks: uninstall.yaml
  when: target == 'uninstall'
