---
- name: Install kubectl binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  vars:
    binary:
      name: "kubectl"
      path: "{{ lima_kilo_kubectl_binary_path }}"
      url: "{{ kubectl.url }}"
      checksum: "{{ kubectl.checksum }}"
      unpack: "{{ kubectl.unpack }}"
