---
- name: Target action -> install kubectl
  ansible.builtin.include_tasks: install.yaml
  when: target == 'install'

- name: Target action -> uninstall kubectl
  ansible.builtin.include_tasks: uninstall.yaml
  when: target == 'uninstall'

# compat code: delete after we're sure nobody is left unclean
- name: Delete previous apt configuration (now obsolete)
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list/kubectl.list
    - /etc/apt/trusted.gpg.d/kubectl.asc
  when: >
    lima_kilo_manage_kubectl_installation and
    ( lima_kilo_apt_uninstall | default(true) ) and
    ansible_system == 'Linux' and
    ansible_os_family == 'Debian'

- name: Delete previous apt packages (now obsolete)
  become: true
  ansible.builtin.apt:
    name: kubectl
    state: absent
    update_cache: false
  when: >
    lima_kilo_manage_kubectl_installation and
    ( lima_kilo_apt_uninstall | default(true) ) and
    ansible_system == 'Linux' and
    ansible_os_family == 'Debian'
