---
- name: Install kubectl binary
  ansible.builtin.include_tasks: "{{ role_path }}/../utils/tasks/install-binary-from-url.yaml"
  vars:
    binary:
      name: "kubectl"
      path: "{{ lima_kilo_kubectl_binary_path }}"
      url: "{{ kubectl.url }}"
      download_checksum: "{{ kubectl.download_checksum }}"
      binary_checksum: "{{ kubectl.binary_checksum }}"
      unpack: "{{ kubectl.unpack }}"

- name: Append kubectl alias and bash autocompletion to ~/.bashrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    line: |
      alias k=kubectl
      source <(kubectl completion bash)
      complete -o default -F __start_kubectl k
