---
- name: Create temp directory
  ansible.builtin.tempfile:
    state: directory
    suffix: -toolforge-lima-kilo
  register: tempdir

- name: Git clone custom k8s components
  ansible.builtin.command:
    cmd: >-
      git clone --depth 1 {% if item.branch is defined %}--branch {{ item.branch
      }}{% endif %} --quiet {{ item.git_url }} {{ tempdir.path }}/{{ item.name
      }}
    creates: "{{ tempdir.path }}/{{ item.name }}/.git"
  loop: "{{ lima_kilo_k8s_other_custom_components }}"
  loop_control:
    label: "{{ item.name }}"

- name: Build component
  ansible.builtin.shell: # noqa no-changed-when
    chdir: "{{ tempdir.path }}/{{ item.name }}"
    cmd: "{{ item.build }}"
  when: item.build is defined
  loop: "{{ lima_kilo_k8s_other_custom_components }}"
  loop_control:
    label: "{{ item.name }}"

- name: Load docker image into kind (if using kind)
  ansible.builtin.shell:
    cmd: >-
      kind load docker-image {{ item.name }}:latest --name {{ kind.cluster.name
      }}
  loop: "{{ lima_kilo_k8s_other_custom_components }}"
  loop_control:
    label: "{{ item.name }}"
  when: kind is defined and item.build is defined
  register: kind_load
  changed_when: '"loading" in kind_load.stderr'

- name: Deploy custom component into k8s
  ansible.builtin.shell: # noqa no-changed-when
    chdir: "{{ tempdir.path }}/{{ item.name }}"
    cmd: "{{ item.deploy }}"
  environment:
    # add lima-kilo bin/ to path so local binaries (helm, helmfile) are
    # available during component deploy
    PATH: "{{ lima_kilo_bin }}:{{ ansible_env.PATH }}"
  loop: "{{ lima_kilo_k8s_other_custom_components }}"
  loop_control:
    label: "{{ item.name }}"

- name: Remove the temp dir
  ansible.builtin.file:
    path: "{{ tempdir.path }}"
    state: absent
  when: tempdir.path is defined
  # the diff output of this can be really long, turn it off even in debug mode
  diff: false
  no_log: true
