---
- name: Create directories for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
    owner: "{{ tool_account.name }}"
    group: "{{ tool_account.name }}"
  loop:
    - /data/project/{{ tool_account.name }}/.kube
    - /data/project/{{ tool_account.name }}/.toolskube

- name: Verify if kubeconfig exists for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.stat:
    path: /data/project/{{ tool_account.name }}/.kube/config
  register: kubeconfig_filecheck

- name: Verify if x509 cert exists for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.stat:
    path: /data/project/{{ tool_account.name }}/.toolskube/client.crt
  register: crt_filecheck

- name: Verify if x509 key exists for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.stat:
    path: /data/project/{{ tool_account.name }}/.toolskube/client.key
  register: key_filecheck

- name: Run k8s-get-cert.sh script for tool account '{{ tool_account.name }}'
  ansible.builtin.command:
    cmd: "{{ role_path }}/files/k8s-get-cert.sh {{ tool_account.name }}"
  when: >
    crt_filecheck.stat is not defined or not crt_filecheck.stat.exists or
    key_filecheck.stat is not defined or not key_filecheck.stat.exists or
    kubeconfig_filecheck.stat is not defined or not kubeconfig_filecheck.stat.exists
  # output first line: cert file
  # output second line: key file
  register: k8s_get_cert

- name: Relocate cert file for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.copy:
    src: "{{ k8s_get_cert.stdout_lines[0] }}"
    dest: /data/project/{{ tool_account.name }}/.toolskube/client.crt
    mode: "0644"
    owner: "{{ tool_account.name }}"
    group: "{{ tool_account.name }}"
  when: k8s_get_cert is defined and k8s_get_cert.changed

- name: Relocate key file for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.copy:
    src: "{{ k8s_get_cert.stdout_lines[1] }}"
    dest: /data/project/{{ tool_account.name }}/.toolskube/client.key
    mode: "0644"
    owner: "{{ tool_account.name }}"
    group: "{{ tool_account.name }}"
  when: k8s_get_cert is defined and k8s_get_cert.changed

- name: Cleanup temp cert files for tool account '{{ tool_account.name }}'
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop: "{{ k8s_get_cert.stdout_lines }}"
  when: k8s_get_cert is defined and k8s_get_cert.changed

- name: Generate kubeconfig for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.template:
    src: tool_account_kubeconfig.yaml.j2
    dest: /data/project/{{ tool_account.name }}/.kube/config
    mode: "0644"
    owner: "{{ tool_account.name }}"
    group: "{{ tool_account.name }}"
  vars:
    cert_file: /data/project/{{ tool_account.name }}/.toolskube/client.crt
    key_file: /data/project/{{ tool_account.name }}/.toolskube/client.key
