---
- name: Git clone toolforge-deploy repository
  ansible.builtin.command:
    cmd: >-
      git clone --depth 1 --branch {{ lima_kilo_toolforge_deploy_repo.branch }}
      --quiet {{ lima_kilo_toolforge_deploy_repo.url }} ~/toolforge-deploy
    creates: "~/toolforge-deploy/.git"

- name: Deploy toolforge-deploy components into local k8s
  ansible.builtin.shell: # noqa no-changed-when
    chdir: "~/toolforge-deploy"
    cmd: "{{ item.cmd }}"
  loop: "{{ lima_kilo_toolforge_deploy_components }}"
  loop_control:
    label: "{{ item.name }}"
