---
- name: Ensure local dir tree exists for lima-kilo '{{ lima_kilo_local_path }}'
  ansible.builtin.file:
    dest: "{{ lima_kilo_local_path }}"
    state: directory
    mode: "0777"

- name: Ensure bin dir tree exists for lima-kilo '{{ lima_kilo_bin }}'
  ansible.builtin.file:
    dest: "{{ lima_kilo_bin }}"
    state: directory
    mode: "0777"

- name: Ensure lima-kilo bin ({{ lima_kilo_bin }}) in in the path
  become: true
  ansible.builtin.template:
    dest: "/etc/profile.d/lima-kilo.sh"
    src: lima-kilo.sh.j2
    owner: "root"
    group: "root"
    mode: "0775"

- name: Copy over the utils to the binary path
  become: true
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/../helpers/toolforge_download_package.py"
    dest: "{{ lima_kilo_bin }}/"
    mode: "777"
