---
# load local user configuration variables in the local system, if present
- name: Include vars from '{{ lima_kilo_userconfig }}'
  ansible.builtin.include_vars: "{{ lima_kilo_userconfig }}"
  register: userconfig
  # we don't really care if the file isn't there
  failed_when: false

- name: Print loaded userconfig
  ansible.builtin.debug:
    var: userconfig.ansible_facts
  when: userconfig.ansible_facts | length > 0

- name: Ensure local dir tree exists for lima-kilo '{{ lima_kilo_local_path }}'
  ansible.builtin.file:
    dest: "{{ lima_kilo_local_path }}"
    state: directory
    mode: "0777"

- name: Ensure bin dir tree exists for lima-kilo '{{ lima_kilo_bin }}'
  ansible.builtin.file:
    dest: "{{ lima_kilo_bin }}"
    state: directory
    mode: "0777"
