---
- name: Ensure bin dir tree exists for lima-kilo '{{ lima_kilo_bin }}'
  ansible.builtin.file:
    dest: "{{ lima_kilo_bin }}"
    state: directory
    mode: "0777"

- name: Ensure lima-kilo bin ({{ lima_kilo_bin }}) in in the path
  become: true
  ansible.builtin.template:
    dest: "/etc/profile.d/lima-kilo.sh"
    src: lima-kilo.sh.j2
    owner: "root"
    group: "root"
    mode: "0775"

- name: Set up bash integration for fzf
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    line: >-
      source /usr/share/doc/fzf/examples/key-bindings.bash
