---
- name: Create unix group for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.group:
    name: "{{ toolforge.project_name }}.{{ tool_account.name }}"
    state: present
    gid: "{{ tool_account.uid }}"

- name: Create unix user for tool account '{{ tool_account.name }}'
  become: true
  ansible.builtin.user:
    name: "{{ toolforge.project_name }}.{{ tool_account.name }}"
    group: "{{ toolforge.project_name }}.{{ tool_account.name }}"
    home: "/data/project/{{ tool_account.name }}"
    create_home: false
    state: present
    uid: "{{ tool_account.uid }}"
    shell: "/bin/bash"
