---
- name: Fake toolforge directories
  become: true
  ansible.builtin.file:  # noqa args[module]
    dest: "{{ item }}"
    state: "{{ 'directory' if target == 'install' else 'absent' }}"
    mode: "0755"
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
  loop:
    "{{ toolforge.special_directories + toolforge.directories }}"

- name: Target action -> install fake toolforge
  ansible.builtin.include_tasks: install.yaml
  when: target == 'install'

- name: Target action -> uninstall fake toolforge
  ansible.builtin.include_tasks: uninstall.yaml
  when: target == 'uninstall'
