---
- name: Fake toolforge directories
  # needed as the files are owned by the new users
  become: true
  ansible.builtin.file: # noqa args[module]
    dest: "{{ lima_kilo_chroot }}/{{ item }}"
    state: "{{ 'directory' if target == 'install' else 'absent' }}"
    mode: "0755"
    owner: "{{ ansible_facts['user_uid'] }}"
    group: "{{ ansible_facts['user_gid'] }}"
  loop: "{{ toolforge.special_directories + toolforge.directories }}"

- name: Target action -> install fake toolforge
  ansible.builtin.include_tasks: install.yaml
  when: target == 'install'

- name: Target action -> uninstall fake toolforge
  ansible.builtin.include_tasks: uninstall.yaml
  when: target == 'uninstall'
