---
- name: Create temp directory
  ansible.builtin.tempfile:
    state: directory
    suffix: -toolforge-lima-kilo
  register: tempdir

- name: Git clone repo
  ansible.builtin.command:
    cmd: >-
      git clone --depth 1 {% if item.branch is defined %}--branch {{ item.branch
      }}{% endif %} --quiet https://gitlab.wikimedia.org/repos/cloud/toolforge/foxtrot-ldap {{ tempdir.path }}/foxtrot-ldap
    creates: "{{ tempdir.path }}/foxtrot-ldap/.git"

- name: Build image
  ansible.builtin.shell: # noqa no-changed-when
    chdir: "{{ tempdir.path }}/foxtrot-ldap"
    cmd: "docker build --tag foxtrot-ldap:latest ."

- name: Load docker image into kind
  ansible.builtin.shell:
    cmd: >-
      kind load docker-image foxtrot-ldap:latest --name {{ kind.cluster.name }}
  register: kind_load
  changed_when: '"loading" in kind_load.stderr'

- name: Deploy into k8s
  ansible.builtin.shell: # noqa no-changed-when
    chdir: "{{ tempdir.path }}/foxtrot-ldap"
    cmd: "./deploy.sh --wait"

- name: Remove the temp dir
  ansible.builtin.file:
    path: "{{ tempdir.path }}"
    state: absent
  when: tempdir.path is defined
  # the diff output of this can be really long, turn it off even in debug mode
  diff: false
  no_log: true
