---
- name: Inject tool accounts into foxtrot-ldap
  ansible.builtin.shell:
    cmd: |
      set -x
      set -o errexit
      set -o nounset
      ALREADY_EXISTS_RC=68
      uid_gid=$(id -u {{ toolforge.project_name }}.{{ tool_account.name }})
      tries=0;
      # needs to be on it's own otherwise it does not break when it return with rc=68/already exists
      return_code=0
      kubectl \
        -n foxtrot-ldap \
        exec \
        --pod-running-timeout=5m0s \
        --stdin=false \
        statefulset/foxtrot-ldap \
        -- container/utils/add-lima-kilo-tool-account.sh {{ tool_account.name }} $uid_gid $uid_gid \
        && return_code=0 || return_code="$?"
      while [[ $return_code != "$ALREADY_EXISTS_RC" && $return_code != "0" ]]; do
        if [[ $tries -gt 3 ]]; then
          exit 1
        fi
        tries=$((tries + 1))
        sleep 10
        kubectl \
          -n foxtrot-ldap \
          exec \
          --pod-running-timeout=5m0s \
          --stdin=false \
          statefulset/foxtrot-ldap \
          -- container/utils/add-lima-kilo-tool-account.sh {{ tool_account.name }} $uid_gid $uid_gid \
        && return_code=0 || return_code="$?"
      done
      exit $return_code
  args:
    executable: /bin/bash
  loop: "{{ toolforge.tool_accounts }}"
  loop_control:
    loop_var: tool_account
    label: "{{ tool_account.name }}"
  register: foxtrot_ldap_inject_result
  changed_when: foxtrot_ldap_inject_result.rc == 0
  # 68 is when the account already exists. We don't really care
  failed_when: foxtrot_ldap_inject_result.rc not in [0, 68]
