---
- name: Enable insecure registry to be able to pull images from harbor
  become: true
  ansible.builtin.template:
    src: daemon.json.j2
    dest: "/etc/docker/daemon.json"
    mode: "0662"
    owner: "root"
    group: "root"

- name: Restart docker to pickup change
  become: true
  ansible.builtin.systemd_service:
    name: docker.service
    state: restarted
