---
- name: Ensure dir tree exists '{{ lima_kilo_harbor_path }}'
  ansible.builtin.file:
    dest: "{{ lima_kilo_harbor_path }}"
    state: directory
    mode: "0777"

- name: Download installer
  ansible.builtin.get_url:
    url: "{{ lima_kilo_harbor_installer.url }}"
    dest: "{{ lima_kilo_harbor_path }}"
    checksum: "{{ lima_kilo_harbor_installer.checksum }}"
    mode: "0644"

- name: Unpack installer
  ansible.builtin.unarchive:
    src: "{{ lima_kilo_harbor_path }}/{{ src }}"
    dest: "{{ lima_kilo_harbor_path }}"
    remote_src: true
  vars:
    src: "{{ lima_kilo_harbor_installer.url.rsplit('/', 1)[-1] }}"

- name: Read configuration template file
  ansible.builtin.slurp:
    src: "{{ lima_kilo_harbor_config_template_path }}"
  register: harbor_config_slurp

- name: Parse config as yaml
  ansible.builtin.set_fact:
    harbor_config: "{{ harbor_config_slurp.content | b64decode | from_yaml }}"

- name: Remove https from config
  ansible.builtin.set_fact:
    harbor_config: "{{ harbor_config | combine({'https': omit}) }}"

- name: Set hostname in config
  ansible.builtin.set_fact:
    harbor_config: "{{ harbor_config | combine(update, recursive=True) }}"
  vars:
    update:
      hostname: "{{ lima_kilo_harbor_config_hostname }}"

- name: Set data_volume in config
  ansible.builtin.set_fact:
    harbor_config: "{{ harbor_config | combine(update, recursive=True) }}"
  vars:
    update:
      data_volume: "{{ lima_kilo_harbor_config_data_volume }}"

- name: Set http port in config
  ansible.builtin.set_fact:
    harbor_config: "{{ harbor_config | combine(update, recursive=True) }}"
  vars:
    update:
      http:
        port: "{{ lima_kilo_harbor_config_port }}"

- name: Write config file
  ansible.builtin.copy: # noqa template-instead-of-copy
    content: "{{ harbor_config | to_nice_yaml }}"
    dest: "{{ lima_kilo_harbor_config_path }}"
    mode: "0644"

- name: Run prepare script
  ansible.builtin.shell:
    chdir: "{{ lima_kilo_harbor_path }}"
    cmd: "{{ lima_kilo_harbor_prepare }}"
  changed_when: true

- name: Run via docker-compose
  # this needs root, see harbor upstream issue
  # https://github.com/goharbor/harbor/issues/17494
  become: true
  ansible.builtin.shell:
    chdir: "{{ lima_kilo_harbor_path }}"
    cmd: "{{ lima_kilo_harbor_up }}"
  changed_when: true

- name: Wait until all components are running
  ansible.builtin.uri:
    url: "{{ lima_kilo_harbor_api_url }}/health"
    method: GET
    status_code:
      - 200  # ok
  register: uri_output
  until: >
    uri_output.status == 200 and
    uri_output.json.status == "healthy"
  retries: 60 # retries for 60 * 2 seconds = 120 seconds = 2 minutes
  delay: 2 # every 2 seconds

- name: Create robot account
  ansible.builtin.uri:
    url: "{{ lima_kilo_harbor_api_url }}/robots"
    force_basic_auth: true
    user: "{{ lima_kilo_harbor_admin_username }}"
    password: "{{ lima_kilo_harbor_admin_password }}"
    method: POST
    body_format: "json"
    body: "{{ lookup('template', 'robot_account.yaml.j2') | from_yaml | to_json }}"
    status_code:
      - 200  # ok
      - 201  # ok, created
      - 409  # already exists. This means that changes needs to happen via lima-kilo install cycle

- name: Create kubernetes secret for tekton
  kubernetes.core.k8s:
    state: present
    template: tekton_secret.yaml.j2
  diff: false
