---
- name: Clone builds-builder for the install scripts
  become: true
  ansible.builtin.command:
    cmd: >-
      git clone --depth 1 --quiet {{ lima_kilo_builds_builder_repo }} {{ lima_kilo_harbor_dir }}/builds-builder
    creates: "{{ lima_kilo_harbor_dir }}/builds-builder"

- name: Run setup # noqa no-changed-when
  become: true
  ansible.builtin.shell:
    chdir: "{{ lima_kilo_harbor_dir }}/builds-builder"
    cmd: "HARBOR_DIR={{ lima_kilo_harbor_dir }} HARBOR_IP={{ lima_kilo_docker_addr }} ./utils/get_harbor.sh"
    creates: "{{ lima_kilo_harbor_dir }}/harbor"

- name: Add the service file to start harbor on reboot
  become: true
  ansible.builtin.template:
    src: toolforge_harbor.service.j2
    dest: /etc/systemd/system/toolforge_harbor.service
    mode: "0755"
    owner: "root"
    group: "root"

- name: Create service to start harbor on reboot
  become: true
  ansible.builtin.systemd_service:
    name: toolforge_harbor.service
    daemon_reload: true
    enabled: true
    state: started
