---
- name: Stop via docker-compose
  # this needs root, see upstream harbor issue
  # https://github.com/goharbor/harbor/issues/17494
  become: true
  ansible.builtin.shell:
    chdir: "{{ lima_kilo_harbor_path }}"
    cmd: "{{ lima_kilo_harbor_down }}"
  changed_when: true
  # never fail, we don't care?
  failed_when: false

- name: Delete harbor directory
  # this needs root, see upstream harbor issue
  # https://github.com/goharbor/harbor/issues/17494
  become: true
  # but recursively deleting a directory as root is very
  # dangerous, so use rm with options to make it a bit safer
  # see also https://github.com/ansible/ansible/issues/18943
  ansible.builtin.shell:
    cmd: rm --recursive --dir --verbose --preserve-root=all --one-file-system "{{ lima_kilo_harbor_path }}"
  # always consider this a change
  changed_when: true
  # never fail, we don't care
  failed_when: false
