---
- name: Install a kind-based fake Toolforge
  hosts: localhost
  vars:
    target: install
  vars_files:
    - vars/lima-kilo.yaml
    - vars/kind.yaml
    - vars/kubectl.yaml
    - vars/toolforge.yaml
    - vars/helm.yaml
  roles:
    # To apply only one or some of these use -t tag1,tag2,...
    - role: userconfig
      tags: userconfig
    - role: toolforge
      tags: toolforge
    - role: kind
      tags: kind
    - role: kubectl
      tags: kind
    - role: helm
      tags: helm
    - role: k8s
      tags: k8s
    - role: foxtrot_ldap
      tags: foxtrot_ldap
    - role: cli
      tags: cli
