---
- name: Install a kind-based fake Toolforge
  hosts: localhost
  vars_files:
    - vars/lima-kilo.yaml
    - vars/kind.yaml
    - vars/kubectl.yaml
    - vars/k9s.yaml
    - vars/stern.yaml
    - vars/toolforge.yaml
    - vars/helm.yaml
    - vars/restish.yaml
  roles:
    # To apply only one or some of these use -t tag1,tag2,...
    - role: basic_system
      tags: basic_system
    - role: docker
      tags: docker
    - role: userconfig
      tags: userconfig
    - role: toolforge
      tags: toolforge
    - role: kind
      tags: kind
    - role: kubectl
      tags: kubectl
    - role: helm
      tags: helm
    - role: k9s
      tags: k9s
    - role: stern
      tags: stern
    - role: harbor
      tags: harbor
    - role: foxtrot_ldap
      tags:
        - foxtrot_ldap
        - ldap
    - role: ldap_users
      tags:
        - ldap_users
        - ldap
    - role: k8s
      tags: k8s
    - role: restish
      tags: restish
  environment:
    # add lima-kilo bin/ to path so local binaries (helm, helmfile) are
    # available during component deploy
    PATH: "{{ lima_kilo_bin }}:{{ ansible_env.PATH }}"
